<ion-header *ngIf="beer" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About beer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="beer" [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About beer</ion-title>
    </ion-toolbar>
  </ion-header>

  <a [routerLink]="['/']">Go back</a>

  <h1>{{beer.name}}</h1>

  <img alt="Silhouette of mountains" [src]="beer.image_url" height="150" />

  <p>
    {{beer.description}}
  </p>

  <button *ngIf="!isFavorite" type="button" (click)="addFavoriteBeer()">add to favorite</button>
  <button *ngIf="isFavorite" type="button" (click)="removeFavoriteBeer()">remove from favorite</button>

</ion-content>
