.description__subtitle {
  font-style: italic;
}

.description__image-wrapper {
  width: 70px;
  height: 150px;
}

.description__image {
  object-fit: cover;
  max-width: 70px;
  max-height: 150px;
}

.description__link {
  text-decoration: none;
  cursor: pointer;
}
