<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success">
      Beer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="success">Beer</ion-title>
      <ion-button fill="clear" color="tertiary" slot="end" (click)="toggle()">{{mode}}</ion-button>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let beer of beerList">
    <app-card [beer]="beer"></app-card>
  </div>

  <app-favorites-modal *ngIf="pages.length"></app-favorites-modal>
  <app-pagination *ngIf="pages.length" (changePage)="setPageNumValue($event)" [currentPage]="currentPage" [pages]="pagesToView" ></app-pagination>
</ion-content>


